 /*
 * /sass/settings/_colors.scss - Global color variables
 * by Gabriel
 */



$backgroundColor: white;

$bcgColorHeader:#727272;

$bcgColorMainNav:#e3e3e3;

//Text color
$textLink: white;
$textColor: #292929;

//Links
$linkBcgColor: #205D86;

$linkBorder: #143B55;

$linkHoverColor: #F26052;

$linkHoverBorderColor : #A43E34;

$ctaLinkColor: #F06F0B;

$ctaLinkBorderColor: #A86F12;

$socialColor: #4DC247;

//headers

$headersColor: $linkHoverColor;

$subheadingColor: $linkBorder;

$headersColorBlue: $linkBcgColor;




//
