@charset "UTF-8";
/* sass-intro
 *
 * /sass/styles.scss - Main stylesheet
 * by Gabriel
 */
/*
 * /sass/settings/_colors.scss - Global color variables
 * by Gabriel
 */
/*
 * /sass/settings/_fonts.scss - Global fonts variables
 * by Gabriel!
 */
@font-face {
  font-family: 'Glyphs';
  src: url("../fonts/fontawesome/fontawesome-webfont.eot");
  src: url("../fonts/fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/fontawesome/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome/fontawesome-webfont.svg#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'alfaslab';
  src: url("../fonts/alfaslab/alfaslabone-regular-webfont.eot");
  src: url("../fonts/alfaslab/alfaslabone-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/alfaslab/alfaslabone-regular-webfont.woff2") format("woff2"), url("../fonts/alfaslab/alfaslabone-regular-webfont.woff") format("woff"), url("../fonts/alfaslab/alfaslabone-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lorabold';
  src: url("../fonts/lora/lora-bold-webfont.eot");
  src: url("../fonts/lora/lora-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lora/lora-bold-webfont.woff2") format("woff2"), url("../fonts/lora/lora-bold-webfont.woff") format("woff"), url("../fonts/lora/lora-bold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lorabolditalic';
  src: url("../fonts/lora/lora-bolditalic-webfont.eot");
  src: url("../fonts/lora/lora-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lora/lora-bolditalic-webfont.woff2") format("woff2"), url("../fonts/lora/lora-bolditalic-webfont.woff") format("woff"), url("../fonts/lora/lora-bolditalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'loraitalic';
  src: url("../fonts/lora/lora-italic-webfont.eot");
  src: url("../fonts/lora/lora-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lora/lora-italic-webfont.woff2") format("woff2"), url("../fonts/lora/lora-italic-webfont.woff") format("woff"), url("../fonts/lora/lora-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora/lora-regular-webfont.eot");
  src: url("../fonts/lora/lora-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lora/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora/lora-regular-webfont.woff") format("woff"), url("../fonts/lora/lora-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* sass-intro
 *
 * /sass/settings/_size.scss - Global size variables
 * by Gabriel
 */
/*
 * /sass/generic/_reset.scss - Reset styles
 * by Gabriel
 */
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*
 Base
@import "base/elements";

 Objects
@import "objects/structure";

// Components
@import "components/header";
@import "components/stuffs";
@import "components/footer";*/
/*
 * /sass/generic/_reset.scss - Reset styles
 * by Gabriel
 */
* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*wrapper*/
body {
  font-family: "loraregular",serif; }

/*header*/
header {
  background-color: #e3e3e3; }

/*topbar*/
.topbar {
  background-color: white;
  display: inline-block;
  width: 100%; }
  .topbar h1 {
    display: inline-block; }

/*logo*/
.logo {
  background: transparent url("../img/logo_baobab.png") repeat scroll 0 0;
  display: block;
  font-size: 0;
  height: 58px;
  margin-left: 40px;
  margin-top: 10px;
  width: 235px; }

/*languages*/
.languages {
  float: right;
  margin-right: 20px; }
  .languages__elt {
    display: inline-block;
    margin: 20px 0; }
  .languages__link {
    display: inline-block;
    padding: 8px 7px;
    text-decoration: none;
    text-transform: uppercase;
    color: #143B55;
    background-color: #205D86;
    border-bottom: 4px solid #143B55;
    color: white; }
    .languages__link:hover, .languages__link:focus {
      background-color: #F26052;
      border-color: #A43E34; }

/*media*/
.media {
  display: inline-block;
  width: 100%;
  padding-bottom: 100px; }

/*main-nav*/
.main-nav {
  background-color: #e3e3e3;
  display: inline-block;
  width: 100%; }
  .main-nav_list {
    display: inline-block;
    float: right;
    margin-right: 20px; }
  .main-nav__elt {
    display: inline-block; }
  .main-nav__link {
    display: inline-block;
    padding: 20px 15px;
    text-decoration: none;
    color: #143B55;
    font-size: 16px; }
    .main-nav__link:hover, .main-nav__link:focus {
      color: #F26052; }
    .main-nav__link--icon-home::before {
      font-family: "Glyphs";
      font-size: 24px;
      content: " "; }
    .main-nav__link--icon-posts::before {
      font-family: "Glyphs";
      font-size: 24px;
      content: " "; }
    .main-nav__link--icon-about::before {
      font-family: "Glyphs";
      font-size: 24px;
      content: " "; }
    .main-nav__link--icon-short::before {
      font-family: "Glyphs";
      font-size: 24px;
      content: " "; }
    .main-nav__link--icon-tuto::before {
      font-family: "Glyphs";
      font-size: 24px;
      content: " "; }
    .main-nav__link--icon-donation::before {
      font-family: "Glyphs";
      font-size: 24px;
      content: " "; }
    .main-nav__link--icon-contact::before {
      font-family: "Glyphs";
      font-size: 24px;
      content: " "; }

/*phrase*/
.phrase {
  color: white;
  display: block;
  margin: 100px auto 0;
  max-width: 860px; }
  .phrase__heading {
    color: white;
    font-family: alfaslab;
    font-size: 36px;
    margin-bottom: 20px; }
  .phrase__content {
    width: 460px;
    font-size: 20px;
    line-height: 1.5; }
  .phrase__author {
    margin-top: 20px;
    text-align: right;
    width: 340px; }

/*bouton-callout*/
.bouton__callout {
  color: white;
  display: block;
  float: right;
  font-size: 20.4px;
  padding: 17px 22px;
  text-decoration: none;
  text-transform: uppercase; }

/*section*/
section {
  color: #292929;
  display: inline-block;
  padding-bottom: 100px;
  padding-top: 100px;
  width: 100%; }

/*collectif*/
.collectif__descriptif {
  display: block;
  line-height: 1.5;
  max-width: 460px; }

.collectif__image {
  float: right;
  margin-left: 40px; }

/*actualites*/
.actualites__article {
  background-color: white;
  border-radius: 4px;
  color: #292929;
  display: inline-block;
  padding: 20px;
  width: 300px;
  border: 1px solid #c2c2c2;
  min-height: 332px;
  vertical-align: top; }
  .actualites__article + .actualites__article {
    margin-left: 20px; }

.actualites__subheading {
  color: #143B55;
  font-size: 20px;
  margin-bottom: 20px; }

.actualites__descriptif {
  line-height: 1.5;
  margin-bottom: 20px; }

.actualites__lire {
  background-color: #205D86;
  border-bottom: 3px solid #143B55;
  color: white;
  display: inline-block;
  float: right;
  padding: 7px 10px;
  text-decoration: none; }

/*diffusions*/
/*diffusion*/
.diffusion {
  background-color: white;
  border: 1px solid #c2c2c2;
  border-radius: 6px;
  display: inline-block;
  line-height: 1.5;
  padding-bottom: 20px;
  width: 290px;
  margin-bottom: 50px; }
  .diffusion__figure {
    margin: 10px; }
  .diffusion__imagelieu {
    width: 270px; }
  .diffusion + .diffusion {
    margin-left: 20px; }
  .diffusion__details {
    margin: 10px 20px; }

/*vieuw link*/
.vieuw__link {
  background-color: #205D86;
  border-bottom: 3px solid #143B55;
  color: white;
  float: right;
  margin-top: 20px;
  padding: 4px 10px;
  text-decoration: none; }
  .vieuw__link--hover:hover, .vieuw__link--hover:focus {
    background-color: #F26052;
    border-bottom-color: #A43E34; }
  .vieuw__link--clear-both {
    clear: both; }

/*footer*/
.footer {
  display: block;
  margin: 30px auto 0;
  max-width: 940px; }
  .footer__heading {
    margin-bottom: 20px;
    font-size: 16px; }
  .footer-nav {
    float: left;
    line-height: 2;
    list-style: none;
    margin-right: 40px;
    list-style: none; }
    .footer-nav__elt {
      margin-bottom: 10px; }
    .footer-nav__link {
      border-bottom: 2px solid;
      color: #205d86;
      padding-bottom: 5px;
      text-decoration: none; }
      .footer-nav__link:hover, .footer-nav__link:focus {
        color: #F26052; }

/*carte*/
.carte {
  display: inline-block;
  line-height: 2;
  list-style: none; }

/*aides nous*/
.aides-nous {
  float: right;
  line-height: 2;
  list-style: none;
  margin-left: 55px;
  width: 255px; }

/*contact footer*/
.contact {
  clear: both;
  line-height: 2;
  list-style: outside none none;
  margin: 0 auto 0 160px;
  max-width: 580px; }
  .contact__elt + li {
    display: inline-block;
    margin-right: 15px; }
  .contact--icon-email::before {
    color: #143B55;
    font-family: "Glyphs";
    font-size: 29.2px;
    content: " "; }
  .contact--icon-tel::before {
    color: #143B55;
    font-family: "Glyphs";
    font-size: 29.2px;
    content: " "; }
  .contact--icon-waap::before {
    color: #143B55;
    font-family: "Glyphs";
    font-size: 29.2px;
    content: " "; }
  .contact--icon-face::before {
    color: #143B55;
    font-family: "Glyphs";
    font-size: 37.1px;
    content: " "; }
  .contact--icon-tweet::before {
    color: #143B55;
    font-family: "Glyphs";
    font-size: 37.1px;
    content: " "; }
  .contact--icon-insta::before {
    color: #143B55;
    font-family: "Glyphs";
    font-size: 37.1px;
    content: " "; }
  .contact--icon-alone {
    display: inline-block;
    text-decoration: none; }
  .contact--icon-hover:hover::before, .contact--icon-hover:focus::before {
    color: #F26052; }
  .contact--screen-reader {
    position: absolute;
    top: -9999px;
    left: -9999px; }

.cta {
  text-decoration: none;
  margin-left: 20px;
  display: inline-block; }
  .cta--small {
    float: right;
    padding: 4px 10px; }
  .cta--medium {
    padding: 12.6px 22px; }
  .cta--right {
    float: right; }
  .cta--blue {
    background-color: #205D86;
    border-bottom: 5px solid #143B55;
    color: white;
    margin-top: 40px;
    font-size: 1.272em; }
  .cta--yellow {
    background-color: #F06F0B;
    border-bottom: 5px solid #A86F12;
    margin-top: 40px;
    color: white;
    text-transform: uppercase; }
    .cta--yellow:hover, .cta--yellow:focus {
      background-color: #d8640a;
      border-bottom-color: #83570e; }
  .cta--hover:hover, .cta--hover:focus {
    background-color: #F26052;
    border-bottom-color: #A43E34; }

/*section__content*/
.section__heading {
  display: block;
  font-size: 32.9px;
  margin-bottom: 20px;
  max-width: 570px;
  font-weight: 100; }
  .section__heading--alfaslab {
    color: #F26052;
    font-family: alfaslab; }
  .section__heading--blue {
    color: #205D86; }
  .section__heading--center {
    text-align: center; }
  .section__heading--mabo {
    margin-bottom: 20px; }

.section__container {
  margin: 0 auto;
  max-width: 950px; }

.section--first-bcg {
  background-image: url("../img/croslines.png"); }

.section--second-bcg {
  background-image: url("../img/clouds.png"); }

.section--third-bcg {
  background-image: url("../img/lines.png"); }

.section--first-clr {
  background-color: #EFF0F1; }

.section--bor-bottom {
  border-bottom: 1px solid black; }

.articles__container {
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  overflow: hidden; }

.article {
  margin-bottom: 100px;
  max-width: 700px;
  overflow: hidden; }
  .article__heading {
    float: right;
    width: 380px;
    font-size: 32.9px;
    margin-bottom: 20px; }
  .article__plublished {
    color: slategrey;
    margin-bottom: 20px; }
  .article__container {
    max-width: 940px; }
  .article__content {
    float: right;
    line-height: 1.5;
    margin-left: 20px;
    width: 380px; }
  .article__image {
    width: 300px;
    margin-bottom: 50px; }
  .article__p--margin p {
    margin-bottom: 10px; }

.categorie {
  background-color: #f5f5f5;
  border: 1px solid #c2c2c2;
  line-height: 1.5;
  padding: 30px;
  position: absolute;
  right: 0;
  top: 0;
  max-width: 200px; }
  .categorie__heading {
    color: #143b55; }
  .categorie-nav {
    list-style: none; }
    .categorie-nav__elt {
      margin-bottom: 10px; }
    .categorie-nav__link {
      border-bottom: 2px solid;
      color: #205d86;
      padding-bottom: 5px;
      text-decoration: none; }
      .categorie-nav__link:hover, .categorie-nav__link:focus {
        color: #F26052; }

.gallery__list {
  margin-bottom: 50px; }

.gallery__elt {
  display: inline-block; }
  .gallery__elt a {
    color: white;
    display: block;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: -53px;
    text-decoration: none; }

.gallery__elt + li {
  margin-left: 20px; }

.gallery__name {
  display: block; }

.gallery__place {
  font-size: 14px; }

.page-article {
  max-width: 860px; }
  .page-article__heading {
    float: right;
    width: 540px; }
  .page-article__content {
    float: right;
    line-height: 1.5;
    margin-left: 20px;
    width: 540px; }

.apropos-article {
  max-width: 860px; }
  .apropos-article__heading {
    float: right;
    width: 540px; }
  .apropos-article__content {
    float: right;
    line-height: 1.5;
    margin-left: 20px;
    width: 540px; }

.projet__links {
  float: right; }

.page-court {
  float: left;
  width: 460px;
  display: inline-block; }
  .page-court + .page-court {
    margin-left: 20px; }
  .page-court__heading {
    color: #205D86;
    font-size: 20.4px;
    margin-bottom: 20px; }
  .page-court__content {
    float: right;
    margin-left: 20px;
    max-width: 220px;
    display: inline-block; }
  .page-court__liste {
    list-style: none; }
  .page-court__elt {
    margin-bottom: 20px;
    font-weight: 200; }
  .page-court__figure {
    display: inline-block; }
  .page-court__image {
    width: 220px; }
  .page-court--fbold {
    font-weight: bold; }

.single-court {
  display: inline-block; }
  .single-court__container {
    margin: 0 auto;
    max-width: 940px; }
  .single-court__content {
    float: right;
    margin-left: 20px; }
  .single-court__figure {
    display: inline-block;
    margin-top: -160px; }
    .single-court__figure img {
      border: 5px solid white;
      box-shadow: 0 0 1px 1px #a3a3a3; }
  .single-court__table {
    line-height: 28px;
    width: 600px; }
  .single-court__th {
    line-height: 1.5;
    text-align: left;
    width: 180px; }

.synopsis__container {
  margin: 0 auto;
  max-width: 520px; }

.single-theproject {
  margin-bottom: 100px;
  max-width: 860px; }
  .single-theproject__heading {
    float: left;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    width: 540px; }
  .single-theproject__about {
    float: left;
    line-height: 1.5;
    margin-right: 20px;
    width: 540px; }

.tutoriels__container {
  margin: 0 auto;
  max-width: 940px; }

.tutoriels-article {
  max-width: 860px; }
  .tutoriels-article__content {
    float: right;
    line-height: 1.5;
    margin-left: 20px;
    width: 540px; }
  .tutoriels-article__heading {
    float: right;
    width: 540px; }

.tutoriel-article {
  max-width: 780px;
  overflow: hidden;
  margin-bottom: 100px; }
  .tutoriel-article__content {
    float: right;
    line-height: 1.5;
    margin-left: 20px;
    width: 540px; }
  .tutoriel-article__heading {
    float: right;
    width: 540px;
    font-size: 32.9px;
    margin-bottom: 20px; }
  .tutoriel-article__image {
    width: 220px; }

.soutiens-article {
  max-width: 860px;
  overflow: hidden;
  margin-bottom: 100px; }
  .soutiens-article__content {
    float: right;
    line-height: 1.5;
    margin-left: 20px;
    width: 540px; }
  .soutiens-article__heading {
    float: right;
    width: 540px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px; }
  .soutiens-article__image {
    width: 300px; }

.soutien-article {
  max-width: 780px;
  overflow: hidden;
  margin-bottom: 100px; }
  .soutien-article__content {
    float: right;
    line-height: 1.5;
    margin-left: 20px;
    width: 540px; }
  .soutien-article__image {
    width: 220px; }

.diffuser__container {
  margin: 0 auto;
  max-width: 460px; }

.diffuser__heading {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px; }

.diffuser__content {
  line-height: 1.5; }

.form__label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px; }

.form__input {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  font-size: 16px;
  height: 30px;
  padding-left: 10px;
  padding-right: 20px;
  width: 460px;
  font-family: loaregular; }
  .form__input-email {
    width: 460px; }

.form__textarea {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  font-family: loraregular;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  height: 200px;
  width: 460px;
  overflow: auto;
  padding: 10px;
  resize: none; }

.form__submit {
  background-color: #205D86;
  border-color: #143B55;
  border-style: none none solid;
  border-width: medium medium 3px;
  color: white;
  float: right;
  margin-top: 20px;
  padding: 4px 10px;
  font-size: 16px; }

.yout-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 20px; }
  .yout-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.contact-page__container {
  margin: 0 auto;
  max-width: 940px; }

.contact-page__followus {
  display: inline-block;
  float: left;
  margin-right: 20px; }

.contact-page__heading {
  margin-bottom: 25px; }
  .contact-page__heading-contact {
    font-size: 24.9px;
    font-weight: 200; }

.contact-page-social {
  margin-top: 30px; }
  .contact-page-social__elt {
    display: inline-block;
    margin-right: 20px; }

.contact-page__carte {
  display: inline-block;
  margin-left: 53px; }
  .contact-page__carte li {
    list-style: outside none none; }

.contact-page-info {
  display: block;
  margin: 37px auto 0;
  width: 620px; }
  .contact-page-info__elt {
    display: inline-block;
    margin-right: 20px; }

.wpcf7-not-valid-tip, .requis {
  color: red; }

.wpcf7-mail-sent-ok, .screen-reader-response {
  color: #F26052; }

/*# sourceMappingURL=styles.css.map */